*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image:url(img/7922998.jpg);
    background-attachment: fixed;
        background-size: cover;
        animation: fundomechendo 80s infinite linear;

        padding: 20px;
}

header input{
    width: 20%;
    padding: 2%;

    border-radius: 40px;
    border-style:initial;
}

header{
padding-top: 3%;

    display: flex;
align-items: center;
justify-content: center;

h1{
    font-size: 5vw;
    font-family: fantasy;
}

img{
    width: 5%;
    height: 5%
};
}

.imgPokebola{
    padding-right: 10%;
    cursor:pointer;
    transition: all 2s ease;
}
.imgPokebola:hover{
    transform:translateY(-20%);
}
.imgBusca{
    transition: all 2s sease;

}
.imgBusca:hover{
transform: translateY(-20%);
}

.enderecoInfo{
    display: flex;
    align-items: center;
    padding: 3%;
    background-color: white;
width: 20%;
height: 40%;

}



.pokemon-info,
#errorMessage {
    margin-top: 20px;
    padding: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#pokemonImage {
    width: 150px;
    height: auto;
}

#errorMessage {
    color: red;
}

/* -------------- */
.pokemon-List{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    gap: 40PX;

}

.pokemon-Card{
    padding: 2%;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid;
    border-color: aliceblue;
}

.pokemon-image{
    width: 100px ;
    height: auto;
}

@keyframes fundomechendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
} 